.menu_details {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: #bab7b7;
  flex-wrap: wrap;
}

.menu_details h1 {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 300ms ease-out;
}
.menu_details h1:hover {
  color: #ffffff;
}

.menu_details button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu_details button svg {
  color: #bab7b7;
  font-size: 2.2rem;
  transition: all 300ms ease-out;
}
.menu_details button svg:hover {
  color: #ffffff;
}
