.menu_details {
  width: 100%;
  padding: 20px;
  height: 60px;
  overflow: hidden;
  border-bottom: 2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: #bab7b7;
  flex-wrap: wrap;
  transition: all 600ms ease-in-out;
}

.menu_details_open {
  height: 600px;
  max-height: max-content;
}
.menu_details h1 {
  font-size: 1.2rem;
}

.menu_details button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.menu_details button svg {
  color: #bab7b7;
  font-size: 2.2rem;
}
