.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0 50px 0;
}
.logo img {
  width: 120px;
}
.item_contact {
  display: flex;
  text-align: center;
}
.item_contact a {
  text-decoration: none;
  color: #bab7b7;
  font-size: 0.8rem;
  font-weight: bold;
}
.item_contact a:hover {
  color: #fff;
}

.item_contact img {
  width: 50px;
}

.contacts_content {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 30px 20px;
  height: 300px;
}
.description_contact p {
  font-size: 0.7rem;
  background-color: rgba(0, 0, 0, 0.778);
  color: rgb(171, 169, 169);
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 800px) {
  .logo img {
    width: 170px;
  }

  .item_contact a {
    font-size: 0.9rem;
  }

  .item_contact img {
    width: 60px;
  }

  .contacts_content {
    padding: 30px;
  }

  .description_contact p {
    background-color: black;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    max-width: 50rem;
  }
}
