* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-content {
  background-image: url(./img/plano-de-fundo.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
