* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}
.main-content {
  background-image: url("/img/plano-de-fundo.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.info-content svg {
  color: #bab7b7;
  font-size: 4rem;
}
.info-content {
  display: flex;
  justify-content: flex-start;
}
.info {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 30px;
}

.info p {
  color: #bab7b7;
  font-size: 0.7rem;
  margin-left: 5px;
}
.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 0.75rem;
  margin: 0 auto;
  margin-top: 100px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 800px;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 800px) {
  .info-content svg {
    font-size: 2rem;
  }

  .info {
    margin-bottom: 60px;
  }

  .info p {
    font-size: 0.9rem;
    max-width: 39rem;
  }
}
